<legend>Group Settings</legend>
<label>
  <input type="checkbox" ng-model="$parent.$parent.theme.group.stacked" placeholder="{{vars.group.stacked.default}}">
  <span class="label-text">{{vars.group.stacked.name}}</span>
</label>
<label>
  <input type="text" ng-model="$parent.$parent.theme.group.marginBottom" placeholder="{{vars.group.marginBottom.default}}">
  <span class="label-text">{{vars.group.marginBottom.name}}</span>
</label>
<label>
  <input type="text" ng-model="$parent.$parent.theme.group.bg" placeholder="{{vars.group.bg.default}}">
  <span class="label-text">{{vars.group.bg.name}}</span>
</label>
<label>
  <input type="text" ng-model="$parent.$parent.theme.group.padding" placeholder="{{vars.group.padding.default}}">
  <span class="label-text">{{vars.group.padding.name}}</span>
</label>
