<legend>Label Settings</legend>
<label>
  <input type="checkbox" ng-model="$parent.$parent.theme.label.display" placeholder="display">
  <span class="label-text">label-display</span>
</label>
<label>
  <input type="text" ng-model="$parent.$parent.theme.label.width" placeholder="width">
  <span class="label-text">label-width</span>
</label>
<label>
  <input type="text" ng-model="$parent.$parent.theme.label.position" placeholder="position">
  <span class="label-text">label-position</span>
</label>
<label>
  <input type="text" ng-model="$parent.$parent.theme.label.align" placeholder="align">
  <span class="label-text">label-align</span>
</label>
<label>
  <input type="text" ng-model="$parent.$parent.theme.label.fontSize" placeholder="font-size">
  <span class="label-text">label-font-size</span>
</label>
<label>
  <input type="text" ng-model="$parent.$parent.theme.label.fontFamily" placeholder="font-family">
  <span class="label-text">label-font-family</span>
</label>
<label>
  <input type="text" ng-model="$parent.$parent.theme.label.fontWeight" placeholder="font-weight">
  <span class="label-text">label-font-weight</span>
</label>
<label>
  <input type="text" ng-model="$parent.$parent.theme.label.color" placeholder="color">
  <span class="label-text">label-color</span>
</label>
<label>
  <input type="text" ng-model="$parent.$parent.theme.label.textTransform" placeholder="text-transform">
  <span class="label-text">label-text-transform</span>
</label>
<label>
  <input type="text" ng-model="$parent.$parent.theme.label.paddingHorizontal" placeholder="padding-horizontal">
  <span class="label-text">label-padding-horizontal</span>
</label>
<label>
  <input type="text" ng-model="$parent.$parent.theme.label.offset" placeholder="offset">
  <span class="label-text">label-offset</span>
</label>
<label>
  <input type="checkbox" ng-model="$parent.$parent.theme.label.inside" placeholder="inside">
  <span class="label-text">label-inside</span>
</label>
<label>
  <input type="checkbox" ng-model="$parent.$parent.theme.label.cap" placeholder="cap">
  <span class="label-text">label-cap</span>
</label>
<label>
  <input type="text" ng-model="$parent.$parent.theme.label.capBg" placeholder="cap-bg">
  <span class="label-text">label-cap-bg</span>
</label>
<label>
  <input type="text" ng-model="$parent.$parent.theme.label.capBgImg" placeholder="cap-bg-img">
  <span class="label-text">label-cap-bg-img</span>
</label>
<label>
  <input type="text" ng-model="$parent.$parent.theme.label.capBgBoxShadow" placeholder="cap-bg-box-shadow">
  <span class="label-text">label-cap-bg-box-shadow</span>
</label>