<legend>Legend Settings</legend>
<label>
  <input type="checkbox" ng-model="$parent.$parent.theme.legend.display" placeholder="{{vars.legend.display.default}}">
  <span class="label-text">{{vars.legend.display.name}}</span>
</label>
<label>
  <input type="text" ng-model="$parent.$parent.theme.legend.fontSize" placeholder="{{vars.legend.fontSize.default}}">
  <span class="label-text">{{vars.legend.fontSize.name}}</span>
</label>
<label>
  <input type="text" ng-model="$parent.$parent.theme.legend.color" placeholder="{{vars.legend.color.default}}">
  <span class="label-text">{{vars.legend.color.name}}</span>
</label>
<label>
  <input type="text" ng-model="$parent.$parent.theme.legend.marginBottom" placeholder="{{vars.legend.marginBottom.default}}">
  <span class="label-text">{{vars.legend.marginBottom.name}}</span>
</label>
<label>
  <input type="text" ng-model="$parent.$parent.theme.legend.textAlign" placeholder="{{vars.legend.textAlign.default}}">
  <span class="label-text">{{vars.legend.textAlign.name}}</span>
</label>
<label>
  <input type="text" ng-model="$parent.$parent.theme.legend.fontWeight" placeholder="{{vars.legend.fontWeight.default}}">
  <span class="label-text">{{vars.legend.fontWeight.name}}</span>
</label>
<label>
  <input type="text" ng-model="$parent.$parent.theme.legend.textTransform" placeholder="{{vars.legend.textTransform.default}}">
  <span class="label-text">{{vars.legend.textTransform.name}}</span>
</label>