<legend>Input Settings</legend>
<label>
  <input type="text" ng-model="$parent.$parent.theme.input.fontSize" placeholder="{{vars.input.fontSize.default}}">
  <span class="label-text">{{vars.input.fontSize.name}}</span>
</label>
<label>
  <input type="text" ng-model="$parent.$parent.theme.input.fontWeight" placeholder="{{vars.input.fontWeight.default}}">
  <span class="label-text">{{vars.input.fontWeight.name}}</span>
</label>
<label>
  <input type="text" ng-model="$parent.$parent.theme.input.height" placeholder="{{vars.input.height.default}}">
  <span class="label-text">{{vars.input.height.name}}</span>
</label>
<label>
  <input type="text" ng-model="$parent.$parent.theme.input.paddingHorizontal" placeholder="{{vars.input.paddingHorizontal.default}}">
  <span class="label-text">{{vars.input.paddingHorizontal.name}}l</span>
</label>
<label>
  <input type="text" ng-model="$parent.$parent.theme.input.round" placeholder="{{vars.input.round.default}}">
  <span class="label-text">{{vars.input.round.name}}</span>
</label>
<label>
  <input type="text" ng-model="$parent.$parent.theme.input.color" placeholder="{{vars.input.color.default}}">
  <span class="label-text">{{vars.input.color.name}}</span>
</label>
<label>
  <input type="text" ng-model="$parent.$parent.theme.input.bg" placeholder="{{vars.input.bg.default}}">
  <span class="label-text">{{vars.input.bg.name}}</span>
</label>
<label>
  <input type="text" ng-model="$parent.$parent.theme.input.bgImg" placeholder="{{vars.input.bgImg.default}}">
  <span class="label-text">{{vars.input.bgImg.name}}</span>
</label>
<label>
  <input type="text" ng-model="$parent.$parent.theme.input.borderWidth" placeholder="{{vars.input.borderWidth.default}}">
  <span class="label-text">{{vars.input.borderWidth.name}}</span>
</label>
<label>
  <input type="text" ng-model="$parent.$parent.theme.input.borderStyle" placeholder="{{vars.input.borderStyle.default}}">
  <span class="label-text">{{vars.input.borderStyle.name}}</span>
</label>
<label>
  <input type="text" ng-model="$parent.$parent.theme.input.borderColor" placeholder="{{vars.input.borderColor.default}}">
  <span class="label-text">{{vars.input.borderColor.name}}</span>
</label>
<label>
  <input type="text" ng-model="$parent.$parent.theme.input.boxShadow" placeholder="{{vars.input.boxShadow.default}}">
  <span class="label-text">{{vars.input.boxShadow.name}}</span>
</label>