<legend>State Settings</legend>
<label>
  <input type="text" ng-model="$parent.$parent.theme.state.style" placeholder="{{vars.state.style.default}}">
  <span class="label-text">{{vars.state.style.name}}</span>
</label>
<label>
  <input type="text" ng-model="$parent.$parent.theme.state.shadow" placeholder="{{vars.state.shadow.default}}">
  <span class="label-text">{{vars.state.shadow.name}}</span>
</label>
<label>
  <input type="text" ng-model="$parent.$parent.theme.state.focusLabelColor" placeholder="{{vars.state.focusLabelColor.default}}">
  <span class="label-text">{{vars.state.focusLabelColor.name}}</span>
</label>
<label>
  <input type="text" ng-model="$parent.$parent.theme.state.focusInputBg" placeholder="{{vars.state.focusInputBg.default}}">
  <span class="label-text">{{vars.state.focusInputBg.name}}</span>
</label>
<label>
  <input type="text" ng-model="$parent.$parent.theme.state.disabledColor" placeholder="{{vars.state.disabledColor.default}}">
  <span class="label-text">{{vars.state.disabledColor.name}}</span>
</label>
<label>
  <input type="text" ng-model="$parent.$parent.theme.state.invalidColor" placeholder="{{vars.state.invalidColor.default}}">
  <span class="label-text">{{vars.state.invalidColor.name}}</span>
</label>
<label>
  <input type="text" ng-model="$parent.$parent.theme.state.successColor" placeholder="{{vars.state.successColor.default}}">
  <span class="label-text">{{vars.state.successColor.name}}</span>
</label>
<label>
  <input type="text" ng-model="$parent.$parent.theme.state.requiredColor" placeholder="{{vars.state.requiredColor.default}}">
  <span class="label-text">{{vars.state.requiredColor.name}}</span>
</label>
<label>
  <input type="checkbox" ng-checked="true" ng-model="$parent.$parent.theme.state.helpChangeColor" placeholder="{{vars.state.helpChangeColor.default}}">
  <span class="label-text">{{vars.state.helpChangeColor.name}}</span>
</label>
<label>
  <input type="checkbox" ng-checked="true" ng-model="$parent.$parent.theme.state.labelChangeColor" placeholder="{{vars.state.labelChangeColor.default}}">
  <span class="label-text">{{vars.state.labelChangeColor.name}}</span>
</label>
<label>
  <input type="checkbox" ng-model="$parent.$parent.theme.state.changeOnSuccess" placeholder="{{vars.state.changeOnSuccess.default}}">
  <span class="label-text">{{vars.state.changeOnSuccess.name}}</span>
</label>