<legend>State Settings</legend>
<label>
  <input type="checkbox" ng-model="theme.state.style" placeholder="style">
  <span class="label-text">state-style</span>
</label>
<label>
  <input type="text" ng-model="theme.state.shadow" placeholder="shadow">
  <span class="label-text">state-shadow</span>
</label>
<label>
  <input type="text" ng-model="theme.state.focus" placeholder="focus">
  <span class="label-text">state-focus</span>
</label>
<label>
  <input type="text" ng-model="theme.state.focusBg" placeholder="focus-bg">
  <span class="label-text">state-focus-bg</span>
</label>
<label>
  <input type="text" ng-model="theme.state.disabled" placeholder="disabled">
  <span class="label-text">state-disabled</span>
</label>
<label>
  <input type="text" ng-model="theme.state.invalid" placeholder="invalid">
  <span class="label-text">state-invalid</span>
</label>
<label>
  <input type="text" ng-model="theme.state.success" placeholder="success">
  <span class="label-text">state-success</span>
</label>
<label>
  <input type="text" ng-model="theme.state.requiredColor" placeholder="required-color">
  <span class="label-text">state-required-color</span>
</label>
<label>
  <input type="text" ng-model="theme.state.helpChangeColor" placeholder="help-change-color">
  <span class="label-text">state-help-change-color</span>
</label>
<label>
  <input type="text" ng-model="theme.state.labelChangeColor" placeholder="label-change-color">
  <span class="label-text">state-label-change-color</span>
</label>
<label>
  <input type="text" ng-model="theme.state.changeOnSuccess" placeholder="change-on-success">
  <span class="label-text">state-change-on-success</span>
</label>

