<legend>Field Settings</legend>
<label>
  <input type="text" ng-model="theme.field.bg" placeholder="bg">
  <span class="label-text">field-bg</span>
</label>
<label>
  <input type="text" ng-model="theme.field.bgRound" placeholder="bg-round">
  <span class="label-text">field-bg-round</span>
</label>
<label>
  <input type="text" ng-model="theme.field.padding" placeholder="padding">
  <span class="label-text">field-padding</span>
</label>
<label>
  <input type="text" ng-model="theme.field.marginBottom" placeholder="margin-bottom">
  <span class="label-text">field-margin-bottom</span>
</label>

