<legend>Input Settings</legend>
<label>
  <input type="text" ng-model="$parent.$parent.theme.input.fontSize" placeholder="font-size">
  <span class="label-text">input-font-size</span>
</label>
<label>
  <input type="text" ng-model="$parent.$parent.theme.input.fontWeight" placeholder="font-weight">
  <span class="label-text">input-font-weight</span>
</label>
<label>
  <input type="text" ng-model="$parent.$parent.theme.input.height" placeholder="height">
  <span class="label-text">input-height</span>
</label>
<label>
  <input type="text" ng-model="$parent.$parent.theme.input.paddingHorizontal" placeholder="padding-horizontal">
  <span class="label-text">input-padding-horizontal</span>
</label>
<label>
  <input type="text" ng-model="$parent.$parent.theme.input.round" placeholder="round">
  <span class="label-text">input-round</span>
</label>
<label>
  <input type="text" ng-model="$parent.$parent.theme.input.color" placeholder="color">
  <span class="label-text">input-color</span>
</label>
<label>
  <input type="text" ng-model="$parent.$parent.theme.input.bg" placeholder="bg">
  <span class="label-text">input-bg</span>
</label>
<label>
  <input type="text" ng-model="$parent.$parent.theme.input.bgImage" placeholder="bg-image">
  <span class="label-text">input-bg-image</span>
</label>
<label>
  <input type="text" ng-model="$parent.$parent.theme.input.borderStyle" placeholder="border-style">
  <span class="label-text">input-border-style</span>
</label>
<label>
  <input type="text" ng-model="$parent.$parent.theme.input.borderColor" placeholder="border-color">
  <span class="label-text">input-border-color</span>
</label>
<label>
  <input type="text" ng-model="$parent.$parent.theme.input.borderWidth" placeholder="border-width">
  <span class="label-text">input-border-width</span>
</label>
<label>
  <input type="text" ng-model="$parent.$parent.theme.input.boxShadow" placeholder="box-shadow">
  <span class="label-text">input-box-shadow</span>
</label>