<legend>Colors</legend>
<label>
  <input type="text" ng-model="$parent.$parent.theme.colors.primary" placeholder="{{vars.color.primary.default}}">
  <span class="label-text">{{vars.color.primary.name}}</span>
</label>
<label>
  <input type="text" ng-model="$parent.$parent.theme.colors.secondary" placeholder="{{vars.color.secondary.default}}">
  <span class="label-text">{{vars.color.secondary.name}}</span>
</label>
<label>
  <input type="text" ng-model="$parent.$parent.theme.colors.tertiary" placeholder="{{vars.color.tertiary.default}}">
  <span class="label-text">{{vars.color.tertiary.name}}</span>
</label>
<label>
  <input type="text" ng-model="$parent.$parent.theme.colors.black" placeholder="{{vars.color.black.default}}">
  <span class="label-text">{{vars.color.black.name}}</span>
</label>
<label>
  <input type="text" ng-model="$parent.$parent.theme.colors.white" placeholder="{{vars.color.white.default}}">
  <span class="label-text">{{vars.color.white.name}}</span>
</label>
<label>
  <input type="text" ng-model="$parent.$parent.theme.colors.red" placeholder="{{vars.color.red.default}}">
  <span class="label-text">{{vars.color.red.name}}</span>
</label>
<label>
  <input type="text" ng-model="$parent.$parent.theme.colors.green" placeholder="{{vars.color.green.default}}">
  <span class="label-text">{{vars.color.green.name}}</span>
</label>
<label>
  <input type="text" ng-model="$parent.$parent.theme.colors.grey" placeholder="{{vars.color.grey.default}}">
  <span class="label-text">{{vars.color.grey.name}}</span>
</label>
<label>
  <input type="text" ng-model="$parent.$parent.theme.colors.dark" placeholder="{{vars.color.dark.default}}">
  <span class="label-text">{{vars.color.dark.name}}</span>
</label>
<label>
  <input type="text" ng-model="$parent.$parent.theme.colors.light" placeholder="{{vars.color.light.default}}">
  <span class="label-text">{{vars.color.light.name}}</span>
</label>