<fieldset class="tab-pane active" id="form-details" ng-include="'views/_partials/form-details.html'"></fieldset>
<fieldset class="tab-pane" id="form-vars" ng-include="'views/_partials/form-vars.html'"></fieldset>
<fieldset class="tab-pane" id="form-admin" ng-include="'views/_partials/form-admin.html'"></fieldset>
<fieldset class="tab-pane" id="form-form" ng-include="'views/_partials/form-form.html'"></fieldset>
<fieldset class="tab-pane" id="form-group" ng-include="'views/_partials/form-group.html'"></fieldset>
<fieldset class="tab-pane" id="form-field" ng-include="'views/_partials/form-field.html'"></fieldset>
<fieldset class="tab-pane" id="form-label" ng-include="'views/_partials/form-label.html'"></fieldset>
<fieldset class="tab-pane" id="form-input" ng-include="'views/_partials/form-input.html'"></fieldset>
<fieldset class="tab-pane" id="form-checkbox" ng-include="'views/_partials/form-checkbox.html'"></fieldset>
<fieldset class="tab-pane" id="form-state" ng-include="'views/_partials/form-state.html'"></fieldset>
<fieldset class="tab-pane" id="form-legend" ng-include="'views/_partials/form-legend.html'"></fieldset>
<fieldset class="tab-pane" id="form-help" ng-include="'views/_partials/form-help.html'"></fieldset>
<fieldset class="tab-pane" id="form-placeholder" ng-include="'views/_partials/form-placeholder.html'"></fieldset>
<fieldset class="tab-pane" id="form-submit" ng-include="'views/_partials/form-submit.html'"></fieldset>