 <h1>{{$parent.theme.name}}</h1>
  <h5>{{$parent.theme.slug}}</h5>

  <div class="tab-content">

    <fieldset class="tab-pane active" id="form-details" data-ng-include="'views/_partials/form-details.html'"></fieldset>

    <fieldset class="tab-pane" id="form-vars" data-ng-include="'views/_partials/form-vars.html'"></fieldset>

    <fieldset class="tab-pane" id="form-admin" data-ng-include="'views/_partials/form-admin.html'"></fieldset>

    <fieldset class="tab-pane" id="form-form" data-ng-include="'views/_partials/form-form.html'"></fieldset>

    <fieldset class="tab-pane" id="form-group" data-ng-include="'views/_partials/form-group.html'"></fieldset>

    <fieldset class="tab-pane" id="form-field" data-ng-include="'views/_partials/form-field.html'"></fieldset>

    <fieldset class="tab-pane" id="form-label" data-ng-include="'views/_partials/form-label.html'"></fieldset>

    <fieldset class="tab-pane" id="form-input" data-ng-include="'views/_partials/form-input.html'"></fieldset>

    <fieldset class="tab-pane" id="form-checkbox" data-ng-include="'views/_partials/form-checkbox.html'"></fieldset>

    <fieldset class="tab-pane" id="form-state" data-ng-include="'views/_partials/form-state.html'"></fieldset>

    <fieldset class="tab-pane" id="form-legend" data-ng-include="'views/_partials/form-legend.html'"></fieldset>

    <fieldset class="tab-pane" id="form-help" data-ng-include="'views/_partials/form-help.html'"></fieldset>

    <fieldset class="tab-pane" id="form-placeholder" data-ng-include="'views/_partials/form-placeholder.html'"></fieldset>

    <fieldset class="tab-pane" id="form-submit" data-ng-include="'views/_partials/form-submit.html'"></fieldset>

    <input type="submit" value="Submit">
  </div>