<legend>Detail</legend>
<label>
<input type="text" data-ng-model="$parent.$parent.theme.detail.name" placeholder="Name">
<input type="hidden" data-ng-model="$parent.$parent.theme.detail.slug">
  <span class="label-text">Theme Name</span>
  <slug from="$parent.$parent.theme.detail.name" to="$parent.$parent.theme.detail.slug">{{$parent.$parent.theme.slug}}</slug>
</label>
<label>
<input type="text" data-ng-model="$parent.$parent.theme.detail.desc" placeholder="Description">
  <span class="label-text">Description</span>
</label>
<label>
<input type="text" data-ng-model="$parent.$parent.theme.detail.version" placeholder="Version">
  <span class="label-text">Version</span>
</label>