<legend>Help Settings</legend>
<label>
  <input type="checkbox" ng-model="$parent.$parent..theme.help.display" placeholder="display">
  <span class="label-text">help-display</span>
</label>
<label>
  <input type="text" ng-model="$parent.$parent..theme.help.displayOnFocus" placeholder="display-on-focus">
  <span class="label-text">help-display-on-focus</span>
</label>
<label>
  <input type="text" ng-model="$parent.$parent..theme.help.color" placeholder="color">
  <span class="label-text">help-color</span>
</label>
<label>
  <input type="text" ng-model="$parent.$parent..theme.help.fontSize" placeholder="size">
  <span class="label-text">help-size</span>
</label>
<label>
  <input type="text" ng-model="$parent.$parent..theme.help.textAlign" placeholder="align">
  <span class="label-text">help-align</span>
</label>