<legend>Field Settings</legend>
<label>
  <input type="text" ng-model="$parent.$parent.theme.field.bg" placeholder="{{vars.field.bg.default}}">
  <span class="label-text">{{vars.field.bg.name}}</span>
</label>
<label>
  <input type="text" ng-model="$parent.$parent.theme.field.bgRound" placeholder="{{vars.field.bgRound.default}}">
  <span class="label-text">{{vars.field.bgRound.name}}</span>
</label>
<label>
  <input type="text" ng-model="$parent.$parent.theme.field.padding" placeholder="{{vars.field.padding.default}}">
  <span class="label-text">{{vars.field.padding.name}}</span>
</label>
<label>
  <input type="text" ng-model="$parent.$parent.theme.field.marginBottom" placeholder="{{vars.field.marginBottom.default}}">
  <span class="label-text">{{vars.field.marginBottom.name}}</span>
</label>