<fieldset ng-include="'views/_partials/form-admin.html'"></fieldset>
<fieldset ng-include="'views/_partials/form-form.html'"></fieldset>
<fieldset ng-include="'views/_partials/form-group.html'"></fieldset>
<fieldset ng-include="'views/_partials/form-field.html'"></fieldset>
<fieldset ng-include="'views/_partials/form-label.html'"></fieldset>
<fieldset ng-include="'views/_partials/form-input.html'"></fieldset>
<fieldset ng-include="'views/_partials/form-checkbox.html'"></fieldset>
<fieldset ng-include="'views/_partials/form-state.html'"></fieldset>
<fieldset ng-include="'views/_partials/form-legend.html'"></fieldset>
<fieldset ng-include="'views/_partials/form-help.html'"></fieldset>
<fieldset ng-include="'views/_partials/form-placeholder.html'"></fieldset>
<fieldset ng-include="'views/_partials/form-submit.html'"></fieldset>