<legend>Admin</legend>
<label>
  <input type="checkbox" ng-model="theme.admin.normalize">
  <span class="label-text">Import Normalize</span>
</label>
<label>
  <input type="checkbox" ng-model="theme.admin.boxSizing">
  <span class="label-text">Import Box-Sizing</span>
</label>
<label>
  <input type="checkbox" ng-model="theme.admin.bootstrap">
  <span class="label-text">Use Twitter Bootstrap</span>
</label>
<label>
  <input type="checkbox" ng-model="theme.admin.checkboxRadio">
  <span class="label-text">Use Checkbox/Radio</span>
</label>