 <legend>Submit Settings</legend>
 <label>
  <input type="text" ng-model="$parent.$parent.theme.submit.bg" placeholder="{{vars.submit.bg.default}}">
  <span class="label-text">{{vars.submit.bg.name}}</span>
</label>
<label>
  <input type="text" ng-model="$parent.$parent.theme.submit.bgImg" placeholder="{{vars.submit.bgImg.default}}">
  <span class="label-text">{{vars.submit.bgImg.name}}</span>
</label>
<label>
  <input type="text" ng-model="$parent.$parent.theme.submit.color" placeholder="{{vars.submit.color.default}}">
  <span class="label-text">{{vars.submit.color.name}}</span>
</label>
<label>
  <input type="text" ng-model="$parent.$parent.theme.submit.textShadow" placeholder="{{vars.submit.textShadow.default}}">
  <span class="label-text">{{vars.submit.textShadow.name}}</span>
</label>
<label>
  <input type="text" ng-model="$parent.$parent.theme.submit.boxShadow" placeholder="{{vars.submit.boxShadow.default}}">
  <span class="label-text">{{vars.submit.boxShadow.name}}</span>
</label>
<label>
  <input type="text" ng-model="$parent.$parent.theme.submit.borderWidth" placeholder="{{vars.submit.borderWidth.default}}">
  <span class="label-text">{{vars.submit.borderWidth.name}}</span>
</label>
<label>
  <input type="text" ng-model="$parent.$parent.theme.submit.borderStyle" placeholder="{{vars.submit.borderStyle.default}}">
  <span class="label-text">{{vars.submit.borderStyle.name}}</span>
</label>
<label>
  <input type="text" ng-model="$parent.$parent.theme.submit.borderColor" placeholder="{{vars.submit.borderColor.default}}">
  <span class="label-text">{{vars.submit.borderColor.name}}</span>
</label>
<label>
  <input type="text" ng-model="$parent.$parent.theme.submit.fontSize" placeholder="{{vars.submit.fontSize.default}}">
  <span class="label-text">{{vars.submit.fontSize.name}}</span>
</label>
<label>
  <input type="text" ng-model="$parent.$parent.theme.submit.height" placeholder="{{vars.submit.height.default}}">
  <span class="label-text">{{vars.submit.height.name}}</span>
</label>
<label>
  <input type="text" ng-model="$parent.$parent.theme.submit.bgHover" placeholder="{{vars.submit.bgHover.default}}">
  <span class="label-text">{{vars.submit.bgHover.name}}</span>
</label>
<label>
  <input type="text" ng-model="$parent.$parent.theme.submit.colorHover" placeholder="{{vars.submit.colorHover.default}}">
  <span class="label-text">{{vars.submit.colorHover.name}}</span>
</label>
<label>
  <input type="text" ng-model="$parent.$parent.theme.submit.textTransform" placeholder="{{vars.submit.textTransform.default}}">
  <span class="label-text">{{vars.submit.textTransform.name}}</span>
</label>
<label>
  <input type="text" ng-model="$parent.$parent.theme.submit.fontWeight" placeholder="{{vars.submit.fontWeight.default}}">
  <span class="label-text">{{vars.submit.fontWeight.name}}</span>
</label>