<legend>Form Settings</legend>
<label>
  <input type="text" ng-model="$parent.$parent.theme.form.width" placeholder="{{vars.form.width.default}}">
  <span class="label-text">{{vars.form.width.name}}</span>
</label>
<label>
  <input type="text" ng-model="$parent.$parent.theme.form.maxWidth" placeholder="{{vars.form.maxWidth.default}}">
  <span class="label-text">{{vars.form.maxWidth.name}}</span>
</label>
<label>
  <input type="text" ng-model="$parent.$parent.theme.form.bg" placeholder="{{vars.form.bg.default}}">
  <span class="label-text">{{vars.form.bg.name}}</span>
</label>
<label>
  <input type="text" ng-model="$parent.$parent.theme.form.padding" placeholder="{{vars.form.padding.default}}">
  <span class="label-text">{{vars.form.padding.name}}</span>
</label>
<label>
  <input type="text" ng-model="$parent.$parent.theme.form.fontFamily" placeholder="{{vars.form.fontFamily.default}}">
  <span class="label-text">{{vars.form.fontFamily.name}}</span>
</label>
<label>
  <input type="text" ng-model="$parent.$parent.theme.form.fontSize" placeholder="{{vars.form.fontSize.default}}">
  <span class="label-text">{{vars.form.fontSize.name}}</span>
</label>
<label>
  <input type="text" ng-model="$parent.$parent.theme.form.fontWeight" placeholder="{{vars.form.fontWeight.default}}">
  <span class="label-text">{{vars.form.fontWeight.name}}</span>
</label>
<label>
  <input type="text" ng-model="$parent.$parent.theme.form.textTransform" placeholder="{{vars.form.textTransform.default}}">
  <span class="label-text">{{vars.form.textTransform.name}}</span>
</label>
<label>
  <input type="text" ng-model="$parent.$parent.theme.form.color" placeholder="{{vars.form.color.default}}">
  <span class="label-text">{{vars.form.color.name}}</span>
</label>