<legend>Details</legend>
<label>
<input type="text" data-ng-model="$parent.$parent.theme.details.name" placeholder="Name">
<input type="hidden" data-ng-model="$parent.$parent.theme.details.slug">
  <span class="label-text">Theme Name</span>
  <slug from="$parent.$parent.theme.details.name" to="$parent.$parent.theme.details.slug">{{$parent.$parent.theme.slug}}</slug>
</label>
<label>
<input type="text" data-ng-model="$parent.$parent.theme.details.desc" placeholder="Description">
  <span class="label-text">Description</span>
</label>
<label>
<input type="text" data-ng-model="$parent.$parent.theme.details.version" placeholder="Version">
  <span class="label-text">Version</span>
</label>