<legend>Group Settings</legend>
<label>
  <input type="checkbox" ng-model="theme.group.stacked" placeholder="stacked">
  <span class="label-text">group-stacked</span>
</label>
<label>
  <input type="text" ng-model="theme.group.marginBottom" placeholder="margin-bottom">
  <span class="label-text">group-margin-bottom</span>
</label>
<label>
  <input type="text" ng-model="theme.group.bg" placeholder="bg">
  <span class="label-text">group-bg</span>
</label>
<label>
  <input type="text" ng-model="theme.group.padding" placeholder="padding">
  <span class="label-text">group-padding</span>
</label>

