<legend>Help Settings</legend>
<label>
  <input type="checkbox" ng-model="$parent.$parent..theme.help.display" placeholder="{{vars.help.display.default}}">
  <span class="label-text">{{vars.help.display.name}}</span>
</label>
<label>
  <input type="text" ng-model="$parent.$parent..theme.help.displayOnFocus" placeholder="{{vars.help.displayOnFocus.default}}">
  <span class="label-text">{{vars.help.displayOnFocus.name}}</span>
</label>
<label>
  <input type="text" ng-model="$parent.$parent..theme.help.color" placeholder="{{vars.help.color.default}}">
  <span class="label-text">{{vars.help.color.name}}</span>
</label>
<label>
  <input type="text" ng-model="$parent.$parent..theme.help.fontSize" placeholder="{{vars.help.fontSize.default}}">
  <span class="label-text">{{vars.help.fontSize.name}}</span>
</label>
<label>
  <input type="text" ng-model="$parent.$parent..theme.help.textAlign" placeholder="{{vars.help.textAlign.default}}">
  <span class="label-text">{{vars.help.textAlign.name}}</span>
</label>