<legend>Form Settings</legend>
<label>
  <input type="text" ng-model="$parent.$parent.theme.form.width" placeholder="form-width">
  <span class="label-text">form-width</span>
</label>
<label>
  <input type="text" ng-model="$parent.$parent.theme.form.maxWidth" placeholder="form-max-width">
  <span class="label-text">form-max-width</span>
</label>
<label>
  <input type="text" ng-model="$parent.$parent.theme.form.bg" placeholder="form-bg">
  <span class="label-text">form-bg</span>
</label>
<label>
  <input type="text" ng-model="$parent.$parent.theme.form.padding" placeholder="form-padding">
  <span class="label-text">form-padding</span>
</label>
<label>
  <input type="text" ng-model="$parent.$parent.theme.form.fontFamily" placeholder="font-family">
  <span class="label-text">form-font-family</span>
</label>
<label>
  <input type="text" ng-model="$parent.$parent.theme.form.fontSize" placeholder="font-size">
  <span class="label-text">form-font-size</span>
</label>
<label>
  <input type="text" ng-model="$parent.$parent.theme.form.fontWeight" placeholder="font-weight">
  <span class="label-text">form-font-weight</span>
</label>
<label>
  <input type="text" ng-model="$parent.$parent.theme.form.textTransform" placeholder="text-transform">
  <span class="label-text">form-text-transform</span>
</label>
<label>
  <input type="text" ng-model="$parent.$parent.theme.form.color" placeholder="color">
  <span class="label-text">form-color</span>
</label>