<ul>
  <li data-ng-repeat="theme in themes">{{theme.name}} | {{theme.slug}} | {{theme.$id}}</li>
</ul>


<form data-ng-submit="addTheme(theme)">

  <h1>{{theme.name}}</h1>
  <h5>{{theme.slug}}</h5>

  <fieldset ng-include="'views/_partials/form-details.html'"></fieldset>

  <fieldset>
    <legend>Vars</legend>
    <label>
      <input type="text">
      <span class="label-text"></span>
      <span class="help-text"></span>
    </label>
  </fieldset>

  <fieldset ng-include="'views/_partials/form.html'"></fieldset>

  <input type="submit" value="Submit">

</form>
<pre>{{themes|json}}</pre>
