<ul class="nav nav-tabs">
  <li><a href="#form-details" data-toggle="tab">Details</a></li>
  <li><a href="#form-vars" data-toggle="tab">Vars</a></li>
  <li><a href="#form-admin" data-toggle="tab">Admin</a></li>
  <li><a href="#form-form" data-toggle="tab">Form</a></li>
  <li><a href="#form-group" data-toggle="tab">Group</a></li>
  <li><a href="#form-field" data-toggle="tab">Field</a></li>
  <li><a href="#form-label" data-toggle="tab">Label</a></li>
  <li><a href="#form-input" data-toggle="tab">Input</a></li>
  <li><a href="#form-checkbox" data-toggle="tab">Checkbox</a></li>
  <li><a href="#form-state" data-toggle="tab">State</a></li>
  <li><a href="#form-legend" data-toggle="tab">Legend</a></li>
  <li><a href="#form-help" data-toggle="tab">Help</a></li>
  <li><a href="#form-placeholder" data-toggle="tab">Placeholder</a></li>
  <li><a href="#form-submit" data-toggle="tab">Submit</a></li>
</ul>


<form class="form-face" data-ng-submit="addTheme(theme)">

  <h1>{{theme.name}}</h1>
  <h5>{{theme.slug}}</h5>

  <div class="tab-content">

    <fieldset class="tab-pane active" id="form-details">
      <legend>Details</legend>
      <label>
        <input type="text" data-ng-model="theme.name" placeholder="Name">
        <input type="hidden" data-ng-model="theme.slug">
        <span class="label-text">Theme Name</span>
        <slug from="theme.name" to="theme.slug">{{theme.slug}}</slug>
      </label>
      <label>
        <input type="text" data-ng-model="theme.desc" placeholder="Description">
        <span class="label-text">Description</span>
      </label>
      <label>
        <input type="text" data-ng-model="theme.version" placeholder="Version">
        <span class="label-text">Version</span>
      </label>
    </fieldset>
    <fieldset class="tab-pane" id="form-vars">
      <legend>Vars</legend>
      <label>
        <input type="text" ng-model="theme.vars.normalize">
        <span class="label-text">Vars</span>
      </label>
    </fieldset>
    <fieldset class="tab-pane" id="form-admin">
      <legend>Admin</legend>
      <label>
        <input type="checkbox" ng-model="theme.admin.normalize">
        <span class="label-text">Import Normalize</span>
      </label>
      <label>
        <input type="checkbox" ng-model="theme.admin.boxSizing">
        <span class="label-text">Import Box-Sizing</span>
      </label>
      <label>
        <input type="checkbox" ng-model="theme.admin.bootstrap">
        <span class="label-text">Use Twitter Bootstrap</span>
      </label>
      <label>
        <input type="checkbox" ng-model="theme.admin.checkboxRadio">
        <span class="label-text">Use Checkbox/Radio</span>
      </label>
    </fieldset>
    <fieldset class="tab-pane" id="form-form">
      <legend>Form Settings</legend>
      <label>
        <input type="text" ng-model="theme.form.width" placeholder="form-width">
        <span class="label-text">form-width</span>
      </label>
      <label>
        <input type="text" ng-model="theme.form.maxWidth" placeholder="form-max-width">
        <span class="label-text">form-max-width</span>
      </label>
      <label>
        <input type="text" ng-model="theme.form.bg" placeholder="form-bg">
        <span class="label-text">form-bg</span>
      </label>
      <label>
        <input type="text" ng-model="theme.form.padding" placeholder="form-padding">
        <span class="label-text">form-padding</span>
      </label>
      <label>
        <input type="text" ng-model="theme.form.fontFamily" placeholder="font-family">
        <span class="label-text">form-font-family</span>
      </label>
      <label>
        <input type="text" ng-model="theme.form.fontSize" placeholder="font-size">
        <span class="label-text">form-font-size</span>
      </label>
      <label>
        <input type="text" ng-model="theme.form.fontWeight" placeholder="font-weight">
        <span class="label-text">form-font-weight</span>
      </label>
      <label>
        <input type="text" ng-model="theme.form.textTransform" placeholder="text-transform">
        <span class="label-text">form-text-transform</span>
      </label>
      <label>
        <input type="text" ng-model="theme.form.color" placeholder="color">
        <span class="label-text">form-color</span>
      </label>

    </fieldset>
    <fieldset class="tab-pane" id="form-group">
      <legend>Group Settings</legend>
      <label>
        <input type="checkbox" ng-model="theme.group.stacked" placeholder="stacked">
        <span class="label-text">group-stacked</span>
      </label>
      <label>
        <input type="text" ng-model="theme.group.marginBottom" placeholder="margin-bottom">
        <span class="label-text">group-margin-bottom</span>
      </label>
      <label>
        <input type="text" ng-model="theme.group.bg" placeholder="bg">
        <span class="label-text">group-bg</span>
      </label>
      <label>
        <input type="text" ng-model="theme.group.padding" placeholder="padding">
        <span class="label-text">group-padding</span>
      </label>


    </fieldset>
    <fieldset class="tab-pane" id="form-field">
      <legend>Field Settings</legend>
      <label>
        <input type="text" ng-model="theme.field.bg" placeholder="bg">
        <span class="label-text">field-bg</span>
      </label>
      <label>
        <input type="text" ng-model="theme.field.bgRound" placeholder="bg-round">
        <span class="label-text">field-bg-round</span>
      </label>
      <label>
        <input type="text" ng-model="theme.field.padding" placeholder="padding">
        <span class="label-text">field-padding</span>
      </label>
      <label>
        <input type="text" ng-model="theme.field.marginBottom" placeholder="margin-bottom">
        <span class="label-text">field-margin-bottom</span>
      </label>


    </fieldset>
    <fieldset class="tab-pane" id="form-label">
      <legend>Label Settings</legend>
      <label>
        <input type="text" ng-model="theme.label.width" placeholder="width">
        <span class="label-text">label-width</span>
      </label>
      <label>
        <input type="text" ng-model="theme.label.position" placeholder="position">
        <span class="label-text">label-position</span>
      </label>
      <label>
        <input type="text" ng-model="theme.label.align" placeholder="align">
        <span class="label-text">label-align</span>
      </label>
      <label>
        <input type="text" ng-model="theme.label.fontSize" placeholder="font-size">
        <span class="label-text">label-font-size</span>
      </label>
      <label>
        <input type="text" ng-model="theme.label.fontFamily" placeholder="font-family">
        <span class="label-text">label-font-family</span>
      </label>
      <label>
        <input type="text" ng-model="theme.label.fontWeight" placeholder="font-weight">
        <span class="label-text">label-font-weight</span>
      </label>
      <label>
        <input type="text" ng-model="theme.label.color" placeholder="color">
        <span class="label-text">label-color</span>
      </label>
      <label>
        <input type="text" ng-model="theme.label.textTransform" placeholder="text-transform">
        <span class="label-text">label-text-transform</span>
      </label>
      <label>
        <input type="text" ng-model="theme.label.paddingHorizontal" placeholder="padding-horizontal">
        <span class="label-text">label-padding-horizontal</span>
      </label>
      <label>
        <input type="text" ng-model="theme.label.offset" placeholder="offset">
        <span class="label-text">label-offset</span>
      </label>
      <label>
        <input type="checkbox" ng-model="theme.label.inside" placeholder="inside">
        <span class="label-text">label-inside</span>
      </label>
      <label>
        <input type="checkbox" ng-model="theme.label.cap" placeholder="cap">
        <span class="label-text">label-cap</span>
      </label>
      <label>
        <input type="text" ng-model="theme.label.capBg" placeholder="cap-bg">
        <span class="label-text">label-cap-bg</span>
      </label>
      <label>
        <input type="text" ng-model="theme.label.capBgImg" placeholder="cap-bg-img">
        <span class="label-text">label-cap-bg-img</span>
      </label>
      <label>
        <input type="text" ng-model="theme.label.capBgBoxShadow" placeholder="cap-bg-box-shadow">
        <span class="label-text">label-cap-bg-box-shadow</span>
      </label>

    </fieldset>
    <fieldset class="tab-pane" id="form-input">
      <legend>Input Settings</legend>
      <label>
        <input type="text" ng-model="theme.input.fontSize" placeholder="font-size">
        <span class="label-text">input-font-size</span>
      </label>
      <label>
        <input type="text" ng-model="theme.input.fontWeight" placeholder="font-weight">
        <span class="label-text">input-font-weight</span>
      </label>
      <label>
        <input type="text" ng-model="theme.input.height" placeholder="height">
        <span class="label-text">input-height</span>
      </label>
      <label>
        <input type="text" ng-model="theme.input.paddingHorizontal" placeholder="padding-horizontal">
        <span class="label-text">input-padding-horizontal</span>
      </label>
      <label>
        <input type="text" ng-model="theme.input.round" placeholder="round">
        <span class="label-text">input-round</span>
      </label>
      <label>
        <input type="text" ng-model="theme.input.color" placeholder="color">
        <span class="label-text">input-color</span>
      </label>
      <label>
        <input type="text" ng-model="theme.input.bg" placeholder="bg">
        <span class="label-text">input-bg</span>
      </label>
      <label>
        <input type="text" ng-model="theme.input.bgImage" placeholder="bg-image">
        <span class="label-text">input-bg-image</span>
      </label>
      <label>
        <input type="text" ng-model="theme.input.borderStyle" placeholder="border-style">
        <span class="label-text">input-border-style</span>
      </label>
      <label>
        <input type="text" ng-model="theme.input.borderColor" placeholder="border-color">
        <span class="label-text">input-border-color</span>
      </label>
      <label>
        <input type="text" ng-model="theme.input.borderWidth" placeholder="border-width">
        <span class="label-text">input-border-width</span>
      </label>
      <label>
        <input type="text" ng-model="theme.input.boxShadow" placeholder="box-shadow">
        <span class="label-text">input-box-shadow</span>
      </label>


    </fieldset>
    <fieldset class="tab-pane" id="form-checkbox">
      <legend>Checkbox/Radio Settings</legend>
      <label>
        <input type="text" ng-model="theme.checkRadio.columns" placeholder="columns">
        <span class="label-text">check-radio-columns</span>
      </label>
      <label>
        <input type="text" ng-model="theme.checkRadio.color" placeholder="color">
        <span class="label-text">check-radio-color</span>
      </label>
      <label>
        <input type="text" ng-model="theme.checkRadio.hoverColor" placeholder="hover-color">
        <span class="label-text">check-radio-hover-color</span>
      </label>


    </fieldset>
    <fieldset class="tab-pane" id="form-state">
      <legend>State Settings</legend>
      <label>
        <input type="checkbox" ng-model="theme.state.style" placeholder="style">
        <span class="label-text">state-style</span>
      </label>
      <label>
        <input type="text" ng-model="theme.state.shadow" placeholder="shadow">
        <span class="label-text">state-shadow</span>
      </label>
      <label>
        <input type="text" ng-model="theme.state.focus" placeholder="focus">
        <span class="label-text">state-focus</span>
      </label>
      <label>
        <input type="text" ng-model="theme.state.focusBg" placeholder="focus-bg">
        <span class="label-text">state-focus-bg</span>
      </label>
      <label>
        <input type="text" ng-model="theme.state.disabled" placeholder="disabled">
        <span class="label-text">state-disabled</span>
      </label>
      <label>
        <input type="text" ng-model="theme.state.invalid" placeholder="invalid">
        <span class="label-text">state-invalid</span>
      </label>
      <label>
        <input type="text" ng-model="theme.state.success" placeholder="success">
        <span class="label-text">state-success</span>
      </label>
      <label>
        <input type="text" ng-model="theme.state.requiredColor" placeholder="required-color">
        <span class="label-text">state-required-color</span>
      </label>
      <label>
        <input type="text" ng-model="theme.state.helpChangeColor" placeholder="help-change-color">
        <span class="label-text">state-help-change-color</span>
      </label>
      <label>
        <input type="text" ng-model="theme.state.labelChangeColor" placeholder="label-change-color">
        <span class="label-text">state-label-change-color</span>
      </label>
      <label>
        <input type="text" ng-model="theme.state.changeOnSuccess" placeholder="change-on-success">
        <span class="label-text">state-change-on-success</span>
      </label>


    </fieldset>
    <fieldset class="tab-pane" id="form-legend">
      <legend>Legend Settings</legend>
      <label>
        <input type="checkbox" ng-model="theme.legend.display" placeholder="display">
        <span class="label-text">legend-display</span>
      </label>
      <label>
        <input type="text" ng-model="theme.legend.fontSize" placeholder="font-size">
        <span class="label-text">legend-font-size</span>
      </label>
      <label>
        <input type="text" ng-model="theme.legend.color" placeholder="color">
        <span class="label-text">legend-color</span>
      </label>
      <label>
        <input type="text" ng-model="theme.legend.marginBottom" placeholder="margin-bottom">
        <span class="label-text">legend-margin-bottom</span>
      </label>
      <label>
        <input type="text" ng-model="theme.legend.textAlign" placeholder="text-align">
        <span class="label-text">legend-text-align</span>
      </label>
      <label>
        <input type="text" ng-model="theme.legend.fontWeight" placeholder="font-weight">
        <span class="label-text">legend-font-weight</span>
      </label>
      <label>
        <input type="text" ng-model="theme.legend.textTransform" placeholder="text-transform">
        <span class="label-text">legend-text-transform</span>
      </label>


    </fieldset>
    <fieldset class="tab-pane" id="form-help">
      <legend>Help Settings</legend>
      <label>
        <input type="checkbox" ng-model="theme.help.display" placeholder="display">
        <span class="label-text">help-display</span>
      </label>
      <label>
        <input type="text" ng-model="theme.help.displayOnFocus" placeholder="display-on-focus">
        <span class="label-text">help-display-on-focus</span>
      </label>
      <label>
        <input type="text" ng-model="theme.help.color" placeholder="color">
        <span class="label-text">help-color</span>
      </label>
      <label>
        <input type="text" ng-model="theme.help.size" placeholder="size">
        <span class="label-text">help-size</span>
      </label>
      <label>
        <input type="text" ng-model="theme.help.align" placeholder="align">
        <span class="label-text">help-align</span>
      </label>
    </fieldset>
    <fieldset class="tab-pane" id="form-placeholder">
      <legend>Placeholder Settings</legend>
      <label>
        <input type="checkbox" ng-model="theme.placeholder.display" placeholder="display">
        <span class="label-text">placeholder-display</span>
      </label>
      <label>
        <input type="text" ng-model="theme.placeholder.color" placeholder="color">
        <span class="label-text">placeholder-color</span>
      </label>
    </fieldset>
    <fieldset class="tab-pane" id="form-submit">
      <legend>Submit Settings</legend>
      <label>
        <input type="text" ng-model="theme.submit.bg" placeholder="bg">
        <span class="label-text">submit-bg</span>
      </label>
      <label>
        <input type="text" ng-model="theme.submit.bgImg" placeholder="bg-img">
        <span class="label-text">submit-bg-img</span>
      </label>
      <label>
        <input type="text" ng-model="theme.submit.color" placeholder="color">
        <span class="label-text">submit-color</span>
      </label>
      <label>
        <input type="text" ng-model="theme.submit.textShadow" placeholder="text-shadow">
        <span class="label-text">submit-text-shadow</span>
      </label>
      <label>
        <input type="text" ng-model="theme.submit.boxShadow" placeholder="box-shadow">
        <span class="label-text">submit-box-shadow</span>
      </label>
      <label>
        <input type="text" ng-model="theme.submit.borderWidth" placeholder="border-width">
        <span class="label-text">submit-border-width</span>
      </label>
      <label>
        <input type="text" ng-model="theme.submit.borderColor" placeholder="border-color">
        <span class="label-text">submit-border-color</span>
      </label>
      <label>
        <input type="text" ng-model="theme.submit.borderStyle" placeholder="border-style">
        <span class="label-text">submit-border-style</span>
      </label>
      <label>
        <input type="text" ng-model="theme.submit.fontSize" placeholder="font-size">
        <span class="label-text">submit-font-size</span>
      </label>
      <label>
        <input type="text" ng-model="theme.submit.height" placeholder="height">
        <span class="label-text">submit-height</span>
      </label>
      <label>
        <input type="text" ng-model="theme.submit.hoverBg" placeholder="hover-bg">
        <span class="label-text">submit-hover-bg</span>
      </label>
      <label>
        <input type="text" ng-model="theme.submit.hoverColor" placeholder="hover-color">
        <span class="label-text">submit-hover-color</span>
      </label>
      <label>
        <input type="text" ng-model="theme.submit.textTransform" placeholder="text-transform">
        <span class="label-text">submit-text-transform</span>
      </label>
      <label>
        <input type="text" ng-model="theme.submit.fontWeight" placeholder="font-weight">
        <span class="label-text">submit-font-weight</span>
      </label>
    </fieldset>
    <input type="submit" value="Submit">
  </div>

</form>
<pre>{{themes|json}}</pre>
